PORT=5000
MONGO_URI=mongodb://localhost:27017/aquamart
MONGO_URI_ANALYTICS=
MONGO_URI_LOGS=
JWT_SECRET=replace_with_strong_secret
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
STRIPE_SECRET_KEY=sk_test_replace
